* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  position: relative;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url("./images/2.jpg") center top / auto no-repeat;
  font-family: "Syne Mono", monospace;
  overflow-x: hidden;
  position: relative;
}
.background {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
  padding: 1rem;
}
.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting,
.design,
.development {
  display: flex;
  height: 90vh;
  justify-content: center;
  font-size: 1.5rem;
  color: #fff;
}
.home {
  background: url("./images/dom.jpg") center / cover no-repeat fixed;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
.home span {
  /* width: 50%; */
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  width: clamp(35ch, 50%, 75ch);
  border-radius: 0.5rem;
}
.live {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
.services {
  background: url("./images/2.png") center bottom/auto no-repeat fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.services h1,
.products h1,
.contact-us h1,
.sign-up h1,
.marketing h1,
.consulting h1,
.design h1,
.development h1 {
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.72);
  margin-bottom: 1rem;
  text-align: center;
}
.services p,
.products p,
.marketing p,
.consulting p,
.design p,
.development p,
.sign-up p,
.contact-us p {
  width: clamp(45ch, 50%, 75ch);
  max-width: 25rem;
  margin-top: 2rem;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 1.5rem;
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.72);
}
.sign-up p,
.contact-us p {
  background: rgba(78, 78, 78, 0.603);
}
.products {
  background: url("./images/7.webp") center bottom/22% no-repeat fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.contact-us {
  background: url("./images/6.webp") center / auto no-repeat fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.sign-up {
  background: url("./images/1.webp") center bottom/30% no-repeat fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.marketing {
  background: url("./images/3.webp") center bottom/10% no-repeat fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.consulting {
  background: url("./images/2.webp") center bottom/13% no-repeat fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.fas {
  color: #fff;
}
.visit {
  display: none;
}
.design {
  background: url("./images/4.webp") center bottom/11% no-repeat fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.development {
  background: url("./images/5.webp") center bottom/19% no-repeat fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .home {
    flex-direction: row;
    align-items: center;
  }
  .products {
    background: url("./images/7.webp") center bottom / 80% no-repeat fixed;
  }
  .consulting {
    background: url("./images/2.webp") center bottom / 60% no-repeat fixed;
  }
  .sign-up {
    background: url("./images/1.webp") center bottom/80% no-repeat fixed;
  }
  .marketing {
    background: url("./images/3.webp") center bottom/50% no-repeat fixed;
  }
  .design {
    background: url("./images/4.webp") center bottom/50% no-repeat fixed;
  }
  .development {
    background: url("./images/5.webp") center bottom/80% no-repeat fixed;
  }
}
